<footer class="footer">
    <div class="container-default">
        <div class="footer-grid">
            <div class="footer-column">
                <a href="/" target="_blank" rel="noopener noreferrer" aria-current="page"
                    class="footer-logo-container mg-bottom-24px w-inline-block w--current">
                    <img src="./assets/img/header.png" alt="DeFi X Webflow Template - Logo" class="footer-logo" />
                </a>
                <p class="mg-bottom-32px">{{footerDescription}}</p>
                <div class="social-links-wrapper">
                    <a href="{{jasonPlays.twitterLink}}" target="_blank" rel="noopener noreferrer"
                        class="social-link icon-twitter"></a>
                    <a href="{{jasonPlays.discordLink}}" target="_blank" rel="noopener noreferrer"
                        class="social-link icon-discord"></a>
                    <a href="{{jasonPlays.youtubeLink}}" target="_blank" rel="noopener noreferrer"
                        class="social-link icon-youtube"></a>
                    <a href="{{jasonPlays.facebookLink}}" target="_blank" rel="noopener noreferrer"
                        class="social-link icon-facebook"></a>
                    <a href="{{jasonPlays.twitchLink}}" target="_blank" rel="noopener noreferrer"
                        class="social-link icon-twitch"></a>
                </div>
            </div>
            {{!-- <div class="footer-column"></div>
            <div class="footer-column">
                <div class="footer-nav-main-wrapper">
                    <div class="footer-title">Menu</div>
                    <div class="footer-nav-wrapper">
                        <ul role="list" class="footer-nav">
                            <li class="footer-nav-item">
                                <a href="/" aria-current="page" class="footer-link w--current">Home</a>
                            </li>
                            <li class="footer-nav-item">
                                <a href="/about" class="footer-link">About</a>
                            </li>
                            <li class="footer-nav-item">
                                <a href="/blog" class="footer-link">Blog</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> --}}
        </div>
        <div class="divider bg-neutral-600"></div>
        <div class="footer-bottom-content">
            <div>Copyright © JasonPlays - {{version}} - Designed by <a href="https://nmsassistant.com/" target="_blank"
                    rel="noopener noreferrer">AssistantNMS</a></div>
        </div>
    </div>
</footer>